.random {
	width: 100%;
	height: 100vh;
	background: #000;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-self: center;
	cursor: pointer;

	img {
		width: 250px;
		border: 4px solid #ffd700;
		border-radius: 10px;
		transition: all 0.4s ease;
		&:hover {
			transform: scale(1.1);
		}
	}

	&-grid {
		&-controls {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-self: center;
			margin-top: 20px;
			button {
				margin-top: 15px;
				padding: 10px;
				border: 3px solid #87ff2a;
				outline: none;
				background: #000;
				color: #fff;
				font-size: 20px;
				background-image: -webkit-linear-gradient(
					left,
					#f00,
					#ff2b00,
					#f50,
					#ff8000,
					#fa0,
					#ffd500,
					#ff0,
					#d4ff00,
					#af0,
					#80ff00,
					#5f0,
					#2bff00,
					#0f0,
					#00ff2a,
					#0f5,
					#00ff80,
					#0fa,
					#00ffd5,
					#0ff,
					#00d5ff,
					#0af,
					#0080ff,
					#05f,
					#002aff,
					#00f,
					#2b00ff,
					#50f,
					#8000ff,
					#a0f,
					#d400ff,
					#f0f,
					#ff00d4,
					#f0a,
					#ff0080,
					#f05,
					#ff002b,
					#f00
				);
				-webkit-animation: animatedBackground_a 5s linear infinite
					alternate;
				-webkit-background-clip: text;
				-webkit-text-fill-color: #0000;
				background-clip: text;
				border-radius: 10px;
				cursor: pointer;
				@keyframes animatedBackground_a {
					0% {
						background-position: 0 0;
					}
					100% {
						background-position: -500px 0;
					}
				}
			}
		}
		&-instructions {
			text-align: center;
			padding: 10px;

			h2 {
				background-image: linear-gradient(0deg, #f00 25%, #ffb300 60%);
				color: #0000;
				-webkit-background-clip: text;
				background-clip: text;
			}

			p {
				font-size: 18px;
				text-align: justify;
			}
		}
	}
}
